{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Patient Registration - Mini EHR</title>

    <link rel="stylesheet" href="{% static 'Patients/add_patient.css' %}">
</head>

<body>

    <div class="navbar">

    <div class="logo">
        🏥 Mini EHR
    </div>

    <div class="nav-links">

        <a href="{% url 'home' %}" class="nav-btn">
            Home
        </a>

        {% comment %} <a href="{% url 'add_patient' %}" class="nav-btn">
            Add Patient
        </a> {% endcomment %}

        <a href="{% url 'patient_list' %}" class="nav-btn">
            Patient Records
        </a>

    </div>

</div>
    <div class="form-container">

        <div class="form-card">

            <h1>Patient Registration</h1>

            <form method="POST">

                {% csrf_token %}


                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>


                <div class="form-group">
                    {{ form.age.label_tag }}
                    {{ form.age }}
                </div>


                <div class="form-group">
                    {{ form.gender.label_tag }}
                    {{ form.gender }}
                </div>


                <div class="form-group">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                </div>


                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>


                <div class="form-group">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>


                <div class="form-group">
                    {{ form.blood_group.label_tag }}
                    {{ form.blood_group }}
                </div>


                <div class="form-group">
                    {{ form.allergies.label_tag }}
                    {{ form.allergies }}
                </div>


                <div class="form-group">
                    {{ form.medical_history.label_tag }}
                    {{ form.medical_history }}
                </div>


                <div class="form-group">
                    {{ form.medications.label_tag }}
                    {{ form.medications }}
                </div>


                <button type="submit" class="submit-btn">
                    Register Patient
                </button>

            </form>


            <a href="{% url 'home' %}" class="back-link">
                ← Back to Home
            </a>

        </div>

    </div>

</body>
</html>